{% extends "base_generic.html" %}

{% block content %}
  <h1>Oops! You are not a System Administrator.</h1>
  <hr>
  <p>The OSCELOT DSKTOOL may be used only by non-guest users with Learn System Administrator privileges.</p>
  <p>Being logged in as a guest user can happen when you are using Direct Portal Entry or SSO as your Blackboard Learn login option. </br>

  Usually, clicking the Learn Logout link to the left, logging into Learn, and reloading the index page should resolve the issue. If not, then you might try clearing your browser cache/cookies. </p>  

{% endblock %}