{% extends "base_generic.html" %}

{% block content %}
  <h1>DSKTOOL Home</h1>
  <p>Welcome to the DSKTOOL, a REST-based version of the original York DSK Tool</p>
  <p>The DSKTOOL is a secure cloud-based data source and availability managment tool that utilizes 3-legged authentication.</p>
  <p>Click <a href=https://4510-67-172-47-55.ngrok.io/learnlogout>Learn Logout</a> to logout of this application. Note: Failing to logout will allow anyone with access to this browser window to use the application.</p>
  <p></p>
  <h2>Version Information</h2>
  Documentation is available via the project site located at:<p><a href='https://github.com/moneil/DSKTOOL-for-Heroku'>https://github.com/moneil/DSKTOOL-for-Heroku</a></p>

  <hr>
  <h4>Your System Information:</h4>
  <ul>
    <li><strong>Learn Server:</strong> {{ learn_server }}</li>
    <li><strong>Version JSON:</strong> {{ version_json }}</li>

  </ul>

  {% load static %}
{% endblock %}